---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
<div class="clearfix float-my-children">
  {% if post.thumb %}
     <img src="{{ post.thumb }}" height = 100 width=100>
  {% else %}
    {% if post.categories contains "Podcast" %}
       <img src="https://images.lonestarlhurgoyfs.com/thumbs/podcast.png" height = 100 width=100>
    {% elsif post.categories contains "Annoucement" %}
      <img src="https://images.lonestarlhurgoyfs.com/thumbs/announcement.png" height = 100 width=100>
    {% elsif post.categories contains "Vintage" %}
       <img src="https://images.lonestarlhurgoyfs.com/thumbs/vintage.jpg" height = 100 width=100>
    {% elsif post.categories contains "Legacy" %}
       <img src="https://images.lonestarlhurgoyfs.com/thumbs/legacy.jpg" height = 100 width=100>
    {% elsif post.categories contains "OldSchool" %}
       <img src="https://images.lonestarlhurgoyfs.com/thumbs/oldschool.jpg" height = 100 width=100>
    {% elsif post.categories contains "MiddleSchool" %}
       <img src="https://images.lonestarlhurgoyfs.com/thumbs/middleschool.jpg" height = 100 width=100>
    {% else %}
       <img src="https://images.lonestarlhurgoyfs.com/thumbs/blank.png" height = 100 width=100>
    {%endif%}
  {% endif %}

   <p>
     {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
     <span class = "post_date">{{ post.date | date: date_format }}</span>
     <br>
     <span class = "post_link"><a href = "{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
     <br>
     <span class = "post_tags">
      {%for category in post.categories %}
      {{category}}
      {% endfor %}</span>
   </p>
</div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>




